<div class="welcome-screen__download-indicator">

    {{#each task in downloading}}
        <div class="welcome-screen__download-indicator__task">
            <h1>{{task.name}}</h1>
            {{#if task.hasProgress}}
                <h2>{{task.fileSize}} {{task.progress}}%</h2>
            {{/if}}
        </div>
    {{/each}}

</div>


<div class="welcome-screen__header">Welcome to WebSFM</div>
<div class="welcome-screen__projects-container">{{outlet projects}}</div>

<div {{bind-attr class=":welcome-screen__detail-container isDetailClosed"}}>
    {{#link-to "welcome" class="welcome-screen__detail__toggle"}}{{/link-to}}
    {{outlet}}
</div>

<div class="welcome-screen__demos-container">{{outlet demos}}</div>

<div class="welcome-screen__header">Some Content</div>

<div class="welcome-screen__projects-container">Some Content</div>