<div class="floating-window__input-image">
    <div class="floating-window__header">
        <div class="exit-icon" {{action "back"}}></div>
    </div>

    <div {{bind-attr class=":floating-window__image-detail__fullimage isloading"}}>
        {{#if dataurl}}
            <img {{bind-attr src=dataurl}}>
        {{else}}
            <img {{bind-attr src=thumbnail}}>
        {{/if}}
    </div>

    <div class="floating-window__image-detail__info">
        <p>{{filename}}</p>
        {{#if isLoading}}
            <p>loading fullsize image</p>
        {{/if}}
    </div>

</div>