<div class="welcome-screen__detail__toggle" {{action "close" target=view}}></div>

<div class="welcome-screen__detail__progress">

    <ul class="welcome-screen__detail__download-selections">

        <li {{bind-attr class="imagesFinished:is-loaded"}}>

            <h1>
                Images {{loadedImages.length}}/{{images.length}}
                {{#if imagesFinished}}
                    loaded
                {{else}}
                    avaliable
                {{/if}}
            </h1>

        </li>

        <li {{bind-attr class="hasFeature::not-avaliable featuresFinished:is-loaded"}}>

            <h1>
                Features {{loadedFeatures.length}}/{{images.length}}

                {{#if featuresFinished}}
                    loaded
                {{else}}
                    {{#if hasFeature}}
                        avaliable
                    {{else}}
                        not avaliable
                    {{/if}}
                {{/if}}
            </h1>

        </li>

        <li {{bind-attr class="hasMatch::not-avaliable matchesLoaded:is-loaded"}}>

            <h1>
                Matches
                {{#if matchLoaded}}
                    loaded
                {{else}}
                    {{#if hasMatch}}
                        avaliable
                    {{else}}
                        not avaliable
                    {{/if}}
                {{/if}}
            </h1>

        </li>

        <li {{bind-attr class="hasCalibration::not-avaliable calibrationLoaded:is-loaded"}}>

            <h1>
                Calibration
                {{#if calibrationLoaded}}
                    loaded
                {{else}}
                    {{#if hasCalibration}}
                        avaliable
                    {{else}}
                        not avaliable
                    {{/if}}
                {{/if}}
            </h1>

        </li>

        <li {{bind-attr class="hasMVS::not-avaliable mvsLoaded:is-loaded"}}>

            <h1>
                MVS
                {{#if mvsLoaded}}
                    loaded
                {{else}}
                    {{#if hasMVS}}
                        avaliable
                    {{else}}
                        not avaliable
                    {{/if}}
                {{/if}}
            </h1>

        </li>

    </ul>

    <div {{bind-attr class=":welcome-screen__detail__download isInprogress:is-downloading isReady:is-ready"}}
        {{action "enter"}}>
        <h1>Enter</h1>
    </div>

</div>