<div class="welcome-screen__detail__toggle" {{action "close" target=view}}></div>

<div class="welcome-screen__detail__progress">

    <ul class="welcome-screen__detail__download-selections">

        <li {{bind-attr class="selectedImage:is-selected imagesFinished:is-loaded"}}
            {{action "toggleImage"}}>

            <h1>
                Images {{loadedImages.length}}/{{images.length}}
                {{#if imagesFinished}}
                    loaded
                {{else}}
                    {{#if selectedImage}}
                        selected
                    {{else}}
                        avaliable
                    {{/if}}
                {{/if}}
            </h1>

        </li>

        <li {{bind-attr class="selectedFeature:is-selected hasFeature::not-avaliable featuresFinished:is-loaded"}}
            {{action "toggleFeature"}}>

            <h1>
                Features {{finishedSIFT.length}}/{{images.length}}

                {{#if featuresFinished}}
                    loaded
                {{else}}
                    {{#if hasFeature}}
                        {{#if selectedFeature}}
                            selected
                        {{else}}
                            avaliable
                        {{/if}}
                    {{else}}
                        not avaliable
                    {{/if}}
                {{/if}}
            </h1>

        </li>

        <li {{bind-attr class="selectedMatch:is-selected hasMatch::not-avaliable matchesLoaded:is-loaded"}}
            {{action "toggleMatch"}}>

            <h1>
                Matches
                {{#if matchLoaded}}
                    loaded
                {{else}}
                    {{#if hasMatch}}
                        {{#if selectedMatch}}
                            selected
                        {{else}}
                            avaliable
                        {{/if}}
                    {{else}}
                        not avaliable
                    {{/if}}
                {{/if}}
            </h1>

        </li>

        <li {{bind-attr class="selectedCalibration:is-selected hasCalibration::not-avaliable calibrationLoaded:is-loaded"}}
            {{action "toggleCalibration"}}>

            <h1>
                Calibration
                {{#if calibrationLoaded}}
                    finished
                {{else}}
                    {{#if hasCalibration}}
                        {{#if selectedCalibration}}
                            selected
                        {{else}}
                            avaliable
                        {{/if}}
                    {{else}}
                        not avaliable
                    {{/if}}
                {{/if}}
            </h1>

        </li>

        <li {{bind-attr class="selectedMVS:is-selected hasMVS::not-avaliable mvsLoaded:is-loaded"}}
            {{action "toggleMVS"}}>

            <h1>
                MVS
                {{#if mvsLoaded}}
                    loaded
                {{else}}
                    {{#if hasMVS}}
                        {{#if selectedMVS}}
                            selected
                        {{else}}
                            avaliable
                        {{/if}}
                    {{else}}
                        not avaliable
                    {{/if}}
                {{/if}}
            </h1>

        </li>

    </ul>

    <div {{bind-attr class=":welcome-screen__detail__download demoController.isInprogress:is-downloading"}}
        {{action "download"}}>

        {{#if demoController.isInprogress}}
            <h1>Loading</h1>
        {{else}}
            <h1>Load</h1>
        {{/if}}

    </div>

</div>