{{#link-to "welcome" class="welcome-screen__detail__toggle"}}{{/link-to}}

<div class="welcome-screen__detail__progress">

    <ul class="welcome-screen__detail__download-selections">

        <li class="is-selected">
            <h1>Images {{loadedImages.length}}/{{images.length}}</h1>
        </li>

        <li {{bind-attr class="selectedFeature:is-selected hasFeature::not-avaliable"}}
            {{action "toggleFeature"}}>

            <h1>Features {{finishedSIFT.length}}/{{images.length}}</h1>

        </li>

        <li {{bind-attr class="selectedMatch:is-selected hasMatch::not-avaliable"}}
            {{action "toggleMatch"}}>

            <h1>
                Matches
                {{#if hasMatch}}
                    avaliable
                {{else}}
                    not avaliable
                {{/if}}
            </h1>

        </li>

        <li {{bind-attr class="selectedCalibration:is-selected hasCalibration::not-avaliable"}}
            {{action "toggleCalibration"}}>

            <h1>
                Calibration
                {{#if calibrationLoaded}}
                    finished
                {{else}}
                    {{#if hasCalibration}}
                        avaliable
                    {{else}}
                        not avaliable
                    {{/if}}
                {{/if}}
            </h1>

        </li>

        <li {{bind-attr class="selectedMVS:is-selected hasMVS::not-avaliable"}}
            {{action "toggleMVS"}}>

            <h1>
                MVS
                {{#if mvsLoaded}}
                    finished
                {{else}}
                    {{#if hasMVS}}
                        avaliable
                    {{else}}
                        not avaliable
                    {{/if}}
                {{/if}}
            </h1>

        </li>

    </ul>

</div>