<div class="welcome-screen__detail__progress">

    <div id="demo-thumbnail__details__images" class="welcome-screen__detail__progress__entry is-selected">
        <h1>Images {{loadedImages.length}}/{{images.length}}</h1>
    </div>

    <div id="demo-thumbnail__details__sift" class="welcome-screen__detail__progress__entry"
        {{bind-attr class="selectedFeature:is-selected"}}
        {{action "toggleFeature"}}>

        <h1>Features {{finishedSIFT.length}}/{{images.length}}</h1>

    </div>

    <div id="demo-thumbnail__details__match" class="welcome-screen__detail__progress__entry"
        {{bind-attr class="selectedMatch:is-selected"}}
        {{action "toggleMatch"}}>

        <h1>
            Matches
            {{#if hasMatch}}
                avaliable
            {{else}}
                not avaliable
            {{/if}}
        </h1>

    </div>

    <div id="demo-thumbnail__details__bundler" class="welcome-screen__detail__progress__entry"
        {{bind-attr class="selectedCalibration:is-selected"}}
        {{action "toggleCalibration"}}>

        <h1>
            Calibration
            {{#if calibrationLoaded}}
                finished
            {{else}}
                {{#if hasCalibration}}
                    avaliable
                {{else}}
                    not avaliable
                {{/if}}
            {{/if}}
        </h1>

    </div>

    <div id="demo-thumbnail__details__mvs" class="welcome-screen__detail__progress__entry"
        {{bind-attr class="selectedMVS:is-selected"}}
        {{action "toggleMVS"}}>

        <h1>
            MVS
            {{#if mvsLoaded}}
                finished
            {{else}}
                {{#if hasMVS}}
                    avaliable
                {{else}}
                    not avaliable
                {{/if}}
            {{/if}}
        </h1>

    </div>

</div>