<div class="demo-detail__close" {{action "close"}}></div>

<div class="demo-detail__desc-container">
    <div class="demo-detail__desc-body">
        {{project.desc}}
    </div>
</div>

<div class="demo-detail__aside">

    <ul class="demo-detail__resources">

        <li>
            <h1>Images avaliable</h1>
        </li>

        <li class="{{if project.hasFeature '' 'not-avaliable'}}">
            <h1>Features {{if project.hasFeature 'avaliable' 'not avaliable'}}</h1>
        </li>

        <li class="{{if project.hasMatch '' 'not-avaliable'}}">
            <h1>Matches {{if project.hasMatch 'avaliable' 'not avaliable'}}</h1>
        </li>

        <li class="{{if project.hasCalibration '' 'not-avaliable'}}">
            <h1>Calibration {{if project.hasCalibration 'avaliable' 'not avaliable'}}</h1>
        </li>

        <li class="{{if project.hasMVS '' 'not-avaliable'}}">
            <h1>MVS {{if project.hasMVS 'avaliable' 'not avaliable'}}</h1>
        </li>

    </ul>

    <div class="demo-detail__enter" {{action "enter"}}>
        <h1>Enter</h1>
    </div>

</div>