<div class="match-grid__body" style="height: {{gridsizeInit}}px; width: {{gridsizeInit}}px;">

    <div class="match-grid__row">

        <div class="match-grid__cell">
            <div class="match-grid__anchor"></div>
        </div>

        {{! ===================================================== }}
        {{!                   Top Thumbnails                      }}
        {{! ===================================================== }}

        {{#each imgTo in images}}
            <div class="match-grid__cell">
                <img class="match-grid__thumbnail" {{bind-attr src=imgTo.thumbnail}}>
            </div>
        {{/each}}

    </div>

    {{#each iFrom in images}}

    {{! ===================================================== }}
    {{!                     Each Row                          }}
    {{! ===================================================== }}

        <div class="match-grid__row">

            <div class="match-grid__cell">
                <img class="match-grid__thumbnail" {{bind-attr src=iFrom.thumbnail}}>
            </div>

            {{#each iTo in images}}
                <div class="match-grid__cell">
                    {{match-grid-node from=iFrom to=iTo grid=this table=matches.table action="enter"}}
                </div>
            {{/each}}

        </div>

    {{/each}}

</div>