<div class="demo-thumbnail__header">
    <span>{{name}}</span>
    <div class="exit-icon" {{action "confirmDelete"}}></div>
</div>

<div class="demo-thumbnail__body">

    {{#if isConfirmDelete}}
        <div class="demo-thumbnail__delete-confirm">
            <div {{action "cancelDelete"}} class="demo-thumbnail__delete-confirm__cancel">
                <h1>Cancel</h1>
            </div>
            <div {{action "delete"}} class="demo-thumbnail__delete-confirm__delete">
                <h1>Delete</h1>
            </div>
        </div>
    {{/if}}

    {{#if isDeleting}}
        <div class="demo-thumbnail__deleting">
            <h1>Deleting</h1>
        </div>
    {{/if}}

    <div class="demo-thumbnail__detail"  {{action "toggleDetail"}}>
        <h1>Detail</h1>
    </div>

    <div {{bind-attr class=":demo-thumbnail__state-bar isDownloaded isInprogress"}}>
        {{#if isDownloaded}}
            <h1 {{action "enter"}}>Enter</h1>
        {{else}}
            {{#if isInprogress}}
                <h1>Downloading</h1>
            {{else}}
                <h1 {{action "download"}}>Load</h1>
            {{/if}}
        {{/if}}
    </div>

</div>