<div class="project-thumbnail__header">
    <span>{{name}}</span>
    <div class="exit-icon" {{action "confirmDelete"}}></div>
</div>

<div class="project-thumbnail__body">

    {{#if isConfirmDelete}}
        <div class="project-thumbnail__delete-confirm">
            <div {{action "cancelDelete"}} class="project-thumbnail__delete-confirm__cancel">
                <h1>Cancel</h1>
            </div>
            <div {{action "delete"}} class="project-thumbnail__delete-confirm__delete">
                <h1>Delete</h1>
            </div>
        </div>
    {{/if}}

    {{#if isDeleting}}
        <div class="project-thumbnail__deleting">
            <h1>Deleting</h1>
        </div>
    {{/if}}

    <div {{action "enter" controller.model}}>Enter</div>

</div>