<div>{{name}}</div>
<div {{bind-attr class=":demo-thumbnail__state-bar isDownloaded isInprogress"}}>
    {{#if isDownloaded}}
        <div>The demo project is downloaded</div>
    {{else}}
        {{#if isInprogress}}
            <div>Downloading</div>
        {{else}}
            <div {{action "download"}}>Click to download</div>
        {{/if}}
    {{/if}}
</div>