<div id="main-container__input-gallery-container">

    <ul id="main-container__input-gallery">

        <div class="main-container__input-gallery__item">
            {{#view "imageLoader" controller=controller}}

                {{#if view.isActive}}
                    <h1>Drop</h1>
                {{else}}
                    <h1>Drag</h1>
                {{/if}}

                {{#if controller.inProgress}}
                    <span>Processing {{controller.queue.length}} images.</span>
                {{/if}}
            {{/view}}
        </div>

        {{#each tile in images}}
            <div class="main-container__input-gallery__item">
                <div class=" main-container__input-gallery__image">
                    {{#if tile.thumbnail}}
                        <img {{bind-attr src=tile.thumbnail}} {{action "expand" tile}}>
                    {{/if}}
                </div>
            </div>
        {{/each}}

        {{outlet}}
    </ul>

</div>